@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
body{
  overflow: hidden;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 170px);
}

.custom-container {
  background-color: #efefef;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-info {
  font-size: 18px;
}

.contact-info a {
  color: rgb(86, 86, 86);
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.service-list ul {
  list-style: none;
  padding: 0;
}

.service-list li {
  margin-bottom: 10px;
}

.service-list li a {
  text-decoration: none;
}

.service-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-card p {
  color: #555;
}
.custom-li{
  list-style: disc;
}