@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
/* body {
  overflow: hidden;
} */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 187px);
}

.custom-container {
  background-color: #efefef;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-info {
  font-size: 18px;
}

.contact-info a {
  color: #000;
  text-decoration: none;
}

.contact-info a:hover {
  color: #000000c6;
}

.service-list ul {
  list-style: none;
  padding: 0;
}

.service-list li {
  margin-bottom: 10px;
}

.service-list li a {
  text-decoration: none;
}

.service-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-card p {
  color: #555;
}
.custom-li {
  list-style: disc;
}

.text-insta {
  color: #000;
}

.social-hover {
  transition: 0.5s;
}

.social-hover:hover {
  transform: translateY(-10px);
}
li,
a {
  list-style-type: none;
}
.text-custom {
  color: #e1306c;
}
.service-hover {
  transition: 5s ease;
  transition-property: all;
}
.service-hover:hover {
  text-decoration: underline;
}
.project-urlBtn,
.project-urlBtn:hover {
  text-decoration: none;
}
