@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

.custom-container {
  border-radius: 8px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 187px);
}

.contact-info {
  font-size: 18px;
}

.contact-info a {
  color: #000;
  text-decoration: none;
}

.contact-info a:hover {
  color: #000000c6;
}

.service-list ul {
  list-style: none;
  padding: 0;
}

.service-list li {
  margin-bottom: 10px;
}

.service-list li a {
  text-decoration: none;
}

.social-hover {
  transition: 0.5s;
}

.social-hover:hover {
  transform: translateY(-10px);
}
li,
a {
  list-style-type: none;
}
.text-custom {
  color: #e1306c;
}
.service-hover {
  transition: 5s ease;
  transition-property: all;
}
.service-hover:hover {
  text-decoration: underline;
}
.project-urlBtn,
.project-urlBtn:hover {
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  .project-title {
    font-size: 1.7rem !important  ;
  }
  .inquiry-text {
    font-size: 1.7rem !important  ;
  }
  .follow {
    letter-spacing: "0.2rem" !important;
  }
}
@media only screen and (max-width: 992px) {
  .img-container {
    margin: 0 auto;
    max-width: 100%;
    width: auto !important;
  }
}
p {
  text-align: justify;
}

.custom-spacing {
  line-height: 3rem !important;
  letter-spacing: 0.1rem;
}
